:root {
	--basic-white: #FFFFFF;
	--basic-opacity-white:rgba(255, 255, 255, 0.3);
	--basic-black: #000000;
	--basic-opacity-black:rgba(0, 0, 0, 0.3);
	--basic-active-pages:rgba(0, 0, 0, 0.0001);
	--basic-active-pages-border:#DBDBDB;
	--basic-red: #FB565A;
	--basic-dark-red:#E74246;
	--basic-extra-dark-red:#D7373B;
	--basic-green: #00CA74;
	--basic-dark-green:#00BC6C;
	--basic-extra-dark-green:#00AA62;
	--basic-yellow:#EFC849;
	--basic-dark-yellow:#EAB534;
	--basic-extra-dark-yellow:#E5A722;
	--basic-grey: #EEEEEE;
	--basic-dark-grey: #DFDFDF;
	--basic-extra-dark-grey:#D5D5D5;
	--basic-grey-social: #E1E1E1;
	--basic-shadow:rgba(0, 1, 1, 0.1);
	--basic-contacts-text: #666666;
}

body {
 min-width: 1440px;
 margin: 0;
 padding: 0;
 font-family: 'Roboto', Arial, sans-serif;
 font-size: 16px;
 line-height: 24px;
}

a {
 text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Grid */

.page {
  	height: 100%;
}

.page-body {
  	min-height: 100%;
  	display: grid;
  	grid-template-rows: min-content 1fr min-content;
  	align-content: start;
}

.container{
	width: 1160px;
 	margin: 0 auto;
}

/*Навигация сайта*/
.navigation {
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	background-color: var(--basic-grey);
	padding-top:49px;
}

.navigation-active{
	border-bottom: 2px solid var(--basic-red);
}

.navigation .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-navigation {
	width: 440px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.navigation-cart{
	min-width: 160px;
	text-align: right;
}

.cart{
	padding-left: 25px;
}

.site-navigation a, .cart {
	color: var(--basic-black);
}


.site-navigation a:focus,
.cart:focus,
.site-navigation a:hover,
.cart:hover {
	color: var(--basic-red);

}

.site-navigation a:active,
.cart:active {
	color: var(--basic-black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

/*Слайды*/
.background-slide{
	background-color: var(--basic-grey);
	padding: 0px;
	margin:0;
}

.slides-area{
}

.slide{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding:0;
	margin:0;

}

.slide-description{
	display: grid;
}

.slide-title{
	font-weight: 500;
	font-size:55px;
	line-height: 55px;
	padding:0;
	margin: 0;
	margin-top: 78px;
	margin-bottom: 25px;
}

.slide-text{
	white-space: pre-line;
	margin: 0;
	padding:0;
	margin-bottom: 38px;
}

.slide-image{
	width: 760px;
	height: 431px;
}

.slide-buttons{
	display: flex;
	justify-content: space-between;
	width: max-content;
	width:88px;
	height: 18px;
	margin:0 auto;
	margin-top: -114px;
}

.slide-button{
	height: 18px;
	width: 18px;
	margin: 0;
	border: none;
	background-color: var(--basic-white);
	border-radius: 50%;
}

.more-info{
	width: 240px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.more-info:hover,
.more-info:focus {
	background-color: var(--basic-dark-red);
}

.more-info:active{
	background-color: var(--basic-extra-dark-red);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-opacity-white);
}

/*Товары*/

.all-products {
	list-style: none;
	margin: 0;
	margin-top: 176px;
	padding: 0;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-column-gap: 100px;
}

.product-name{
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.product-section{
	width:300px;
	margin:0;
	padding:0;
}

.product-description{
	max-width: 260px;
}

/* Кнопки заказа товара*/

.button-order {
	border: none;
	outline: none;
	border-radius: 3px;
	width: 160px;
	height: 50px;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
	color: var(--basic-white);
	margin-top: 32px;
}

.order-cites{
	background-color: var(--basic-red);
}

.order-apps{
	background-color: var(--basic-green);
}

.order-presentation{
	background-color: var(--basic-yellow);
}

.order-cites:focus,
.order-cites:hover {
	background-color: var(--basic-dark-red);
}

.order-cites:active {
	background-color: var(--basic-extra-dark-red);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-opacity-white);
}

.order-apps:hover,
.order-apps:focus {
	background-color: var(--basic-extra-dark-green);
}

.order-apps:active {
	background-color: var(--basic-extra-dark-green);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-opacity-white);
}

.order-presentation:hover,
.order-presentation:focus {
	background-color: var(--basic-dark-yellow);
}

.order-presentation:active {
	background-color: var(--basic-extra-dark-yellow);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-opacity-white);
}
/*Доп информация по сайту*/

.additional-info{
	display: grid;
	grid-template-columns: 700px 360px;
	grid-template-rows: 527px 180px;
	grid-column-gap:  100px;
	border-top: 2px solid var(--basic-grey);
	margin-top:80px;
}



/*О нас*/

.about-us{
	display: flex;
	flex-direction: column;
}

.about-us-title,
.about-us-text,
.development-order{
	margin: 0;
	padding:0;
}

.about-us-title{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin-top: 73px;
	margin-bottom: 32px;
}

.about-us-text{
	margin-bottom: 40px;
	max-width: 660px;
}

.development-order{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 23px;
}

.development-order-list{
	margin:0;
}

.development-order-name{
	margin: 0px 0px 24px 0px;
	padding:0;
}

.development-order-name:last-child{
	margin-bottom: 0;
}

/*Статистика*/

.stats{
	width: 360px;
}


.stats-title{
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin:0;
	padding: 0;
	margin-bottom:31px;
}

.stats-list{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.stats-list li{
	margin: 0;
	padding:0;
}

.stats-logo{
	margin-top: 39px;
	margin-bottom: 37px;
}

.percent{
	font-size: 26px;
}

.stats-name{
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}

/*Спонсоры*/

.sponsors{
	grid-column:1/3;
	border-top: 2px solid var(--basic-grey);
	border-bottom: 2px solid var(--basic-grey);
}

.sponsors-list{
	margin: 0;
	padding:0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	height: 180px;
	align-items: center;
}

.sponsors a {
	opacity: 0.2;
}

.sponsors a:hover,
.sponsors a:focus{
	opacity: 1;
}

.sponsors a:active{
	opacity: 0.1;
}

/*Соц. сети */
.social-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-name {
	width: 81px;
 	height: 81px;
 	background-color: var(--basic-grey-social);
 	text-align: center;
 	border-radius: 50%;
 	line-height: 81px;
}

.social-name:focus,
.social-name:hover {
	background-color: var(--basic-dark-red);
}

.social-name:active{
	background-color: var(--basic-extra-dark-red);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.social-icon:active{
	opacity: 0.3;
}

/*Наши контакты*/

.contacts{
	display: grid;
	width:319px;
	height: 308px;
 	outline-offset: -5px;
  	outline: 5px solid rgba(0, 0, 255, 0.7);
  	grid-column-gap: 50px;
  	padding-left:50px;
  	box-sizing: border-box;
  	white-space: pre-line;
  }

.contacts-text{
	margin: 0;
	margin-top: 50px;
	line-height: 18px;
	color: var(--basic-contacts-text);
}

.contacts-tel{
	color: var(--basic-contacts-text);
}

.contacts-title{
	color: var(--basic-black);
	padding: 0;
	font-weight: bold;
}

.feedback-button{
	width: 219px;
	height: 50px;
	border-radius: 3px;
	background-color: var(--basic-red);
	line-height: 50px;
	text-align: center;
	color: var(--basic-white);
	text-transform: uppercase;
}

.feedback-button:focus,
.feedback-button:hover{
	background-color: var(--basic-dark-red);
}

.feedback-button:active{
	background-color: var(--basic-extra-dark-red);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-opacity-white);
}

/*Футер*/
.friends {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin: 0;
	padding:0;
}

.sale{
	font-size: 16px;
	line-height: 22px;
}

.feedback-form{
	display: none;
}

.footer-social{
	display: grid;
	grid-template-columns: 260px 560px ;
	gap: 140px;
	align-items: center;
}

.footer-social-icon{
	margin-right: 140px;
}

.social-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 9px;

}

.container-map{
	width: 1440px;
 	 margin: 0 auto;
}

/* 2 страница*/

.catalog {
	font-size: 55px;
	line-height:55px;
	font-weight: 500;
	text-align: center;
	background-color: var(--basic-grey);
	margin: 0;
	padding-bottom: 100px;
}

.catalog-background{
	width:
	background-color: var(--basic-grey);
}

.catalog-container{
	display: grid;
	grid-template-columns: 260px auto;
	grid-column-gap:140px;
}

.catalog-list{
	padding:0;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 360px 360px;
	grid-column-gap: 40px;
	grid-row-gap: 30px;
}

.catalog-list-name{
	margin: 0;
	padding:0;
	display: grid;
	height: 618px;
}

.all-filter-container{
	grid-column: 1/2;
	grid-row: 1/3;
}


.product-info {
	display: none;
}

.products-container{
	grid-column: 2/3;
}

/*Сортировка*/
.cost{
	text-transform: uppercase;
	font-size: 	18px;
	line-height: 30px;
	font-weight: bold;
}

.sorting{
	display: flex;
	justify-content: space-between;
}

.sorting-list{
	width:360px;
	display:flex;
	justify-content: space-between;
	list-style:none;
}

.sorting-list a {
	color: var(--basic-black);
	opacity: 0.2;
}

.sorting-type-active{
	opacity: 1;
}

.sorting-name:hover,
.sorting-name:focus{
	opacity: 0.6;
}

.sorting-name:active{
	opacity: 1;
}

a.sorting-name-active{
	opacity: 1;
}

/*Фильтры*/

.filter legend {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

.filter ul {
	padding: 0;
	list-style:none;
	line-height: 19px;
}

.filter fieldset {
  padding: 0;
  margin:0;
  border: none;
}

.grid-list-name{
	margin-bottom: 15px;
}

.grid-list-name:last-child{
	margin-bottom: 43px;
}

.checkbox-name{
	margin-bottom: 15px;
}

.checkbox-name:last-child{
	margin-bottom: 45px;
}

.show-filter{
	width: 260px;
	height: 50px;
	background-color: var(--basic-grey);
	border-radius: 3px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.show-filter:hover,
.show-filter:focus {
	background-color: var(--basic-dark-grey);
}
.show-filter:active {
	background-color: var(--basic-extra-dark-grey);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-opacity-black);
}

/*Переход на страницы*/

.pages-catalog{
	grid-column: 2/3;
	margin-top: 54px;
	margin-bottom: 60px;
}

.pages-catalog-list{
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 500;
	display: flex;

}

.page-catalog-number{
	color: var(--basic-black);

}

.page-catalog{
	width: 50px;
	height: 50px;
	background-color: var(--basic-grey);
	line-height: 50px;
	text-align: center;
	margin-right: 11px;
}

.page-catalog-active{
	border: 3px solid var(--basic-active-pages-border);
	background-color: var(--basic-active-pages);
	border-radius: 3px;
	box-sizing: border-box;
	line-height: 44px;
}

.page-catalog-next{
	width: 260px;
}

.page-catalog:hover,
.page-catalog:focus{
	background-color: var(--basic-dark-grey);
}

.page-catalog:active{
	color: var(--basic-opacity-black);
	background-color: var(--basic-extra-dark-grey);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	border:none;
}
